@page "/"
@inherits LayoutComponentBase

@using System.Linq

@using System.Data;
@using System.Data.SqlClient
@inject NavigationManager Navigation

<style>
    h1 {
        text-align: left;
        color: #007bff;
        font-family: Arial, sans-serif;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .rectangle-box {
        width: 200px;
        height: 100px;
        border: 2px solid #ccc;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 10px;
    }

    .count {
        font-size: 24px;
        font-weight: bold;
    }

    .icon {
        font-size: 40px;
        margin-bottom: 10px;
    }
</style>




    <h1>Shree Diamond House</h1>



<br />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="rectangle-box" @onclick="GoToCustomersPage">
                <i class="icon fas fa-users"></i>
                <span class="count">@customerCount</span>
                <span>Customers</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="rectangle-box" @onclick="GoToGoldReportsPage">
                <i class="icon fas fa-chart-line"></i>
                <span class="count">@goldReportsCount</span>
                <span>Gold Reports</span>
            </div>
        </div>
    </div>

</div>



@code {
    private int reportsCount;

    protected override void OnInitialized()
    {
        goldReportsCount = GetReportsCount();
        customerCount =GetCustomerCount();  
    }

    public string connectionString = "Data Source=DESKTOP-PPDFD4L;Initial Catalog=GoldBlazor;Integrated Security=True";

    private int customerCount ; // Replace with the actual count of customers
    private int goldReportsCount ; // Replace with the actual count of gold reports

    private void GoToCustomersPage()
    {
        Navigation.NavigateTo("/customerRecord");
    }

    private void GoToGoldReportsPage()
    {
        Navigation.NavigateTo("/shopitemmanagement");
    }

    public int GetReportsCount()
    {
        using (var connection = new SqlConnection(connectionString))
        {
            connection.Open();
            var command = new SqlCommand("GetGoldReportsCount", connection);
            command.CommandType = CommandType.StoredProcedure;

            return (int)command.ExecuteScalar();
        }
    }

    public int GetCustomerCount()
    {
        using (var connection = new SqlConnection(connectionString))
        {
            connection.Open();
            var command = new SqlCommand("GetCustomerCount", connection);
            command.CommandType = CommandType.StoredProcedure;

            return (int)command.ExecuteScalar();
        }
    }


   



}
